<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Registration</title>
</head>
<body>
<h1>Welcome New Student</h1>
<h2 th:text="${students.get(0).getFistName()}"> </h2>
<h2 th:text="${students.get(0).getLastName()}"> </h2>
<a th:href="@{https://cydeo.com}">Cydeo</a>
<br>
<a th:href="@{/student/welcome}">Welcome page</a>
<a th:href="@{/student/welcome(id=${students.get(0).fistName})}">Welcome page 2 </a>

<!--Concatenation-->
<h2 th:text="'Welcome ' + ${students.get(0).getLastName()}"> </h2>

<ul>
    <li th:each="student : ${students}" th:text="${student.fistName + ' ' + student.lastName}"></li>
</ul>


<!--Conditional Logic-->
<div th:text="${students.get(0).age > 25 ? 'Eligible' : 'Not Eligible'}"></div>
<div th:if="${students.get(0).getState() == 'Arizona'}">Arizona</div>
<div th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</div>
</body>
</html>